*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}
body, html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.4;   
}
body{
    /* margin-top: 100px; */
}
.btn{
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 0.025em solid #ddd;
    text-decoration: none;
    background: purple;
    margin: 2rem;
}
.btn:hover{
    background: gray;
}
img{
    max-width: 100%;
}
.main-navbar{
    width: 100%;
    background: #333;
    min-height: 100px;
    /* position: fixed;
    top: 0; 
    left: 0;
    z-index: 3; */
}

a{
    text-decoration: none;
    color: #fff;
}
.main-navbar .logo{
    display: block;
    float: left;
    padding:2rem;
    font-size: 3.5rem;
}
.main-navbar .menu{
    padding: 2rem;
    text-align: center;
    /* float: right; */
    
}
.main-navbar .menu li{
    display: inline-block;
}
.main-navbar .menu a{
    display: block;
    padding: 1rem 2rem;
    font-size: 2rem;
}
.main-navbar .menu a:hover{
    background: #fff;
    color: #333;
}
.main-navbar .menu-btn{
    display: none;
}

.showcase{
    /* clear: both; */
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.8)), url(/img/bg-1.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showcase-text{
    font-size: 7rem;
    font-weight: 700px;
    color: #fff;
    text-shadow: 2px 1px 5px #000;
}
.showcase p{
    font-size: 3rem;
    color: #fff;
}
.main-wrapper{
    max-width: 960px;
    width: 90%;
    margin: 8rem auto;
    box-sizing: border-box;
}
.main-wrapper p{
    padding: 1rem 2rem 2rem;
    font-size: 1.2rem;
    text-align: center;
}
.main-wrapper h3{
    padding: 1rem 0 0;
    font-size: 2rem;
    text-align: center;
}

.about-content{
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "box-1 box-2 box-3"
}
.about-content .box {
    display: flex;
    flex-direction: column;
    background: #ddd;
}
.about-content .box-1{
    grid-area: box-1;
}
.about-content .box-2{
    grid-area: box-2;
}
.about-content .box-3{
    grid-area: box-3;
}
.about-content p{
    margin-bottom: 0;
}
.about-content .btn{
    width: 150px;
    margin-top: 1rem;
    align-self: center;
}

.middle-content{
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.middle-content .middle-box-2{
    display: flex;
    flex-direction: column;
}
.middle-content .middle-box{
    background: #ddd;
}
.middle-content .middle-box-2 .btn{
    width: 150px;
    margin-right: 2rem;
    align-self: flex-end;
}

.service-section{
    width: 100%;
    min-height: 250px;
    background: url(/img/bg-2.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-section h3{
    margin-top: 0;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 1px 5px #000;
}
.service-section p{
    max-width: 450px;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
}

.image-content{
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    margin-bottom: 5rem;
    text-align: center;
}
.image-content .btn{
    font-size: 1.5rem;
}

.contact-section{
    background: url(/img/bg-3.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.contact-content{
    max-width: 650px;
    margin: auto;
    text-align: center;
}
.contact-content h3{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 1px 5px #000;
}

.contact-content .contact-text{
    color: #000;
    font-size: 1.5rem;
    max-width: 650px;
    padding: 2rem 4rem; 
    margin: auto;
    border-radius: 5px;
    background: rgba(0,0,0,.3);
}
.contact-content .input-items{
    display: flex;
    margin-top: 5rem;
    /* box-sizing: border-box; */
    max-width: 650px;


}
.contact-content .input-items #input{
    width: 300px;
    margin-right: 50px;
    
}
.contact-content .input-items #message{
    width: 300px;
}
.contact-content .input-items input{
    background: #ddd;
    opacity: .50;
    width: 318px;
    padding: 4px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}
.contact-content .input-items input::placeholder{
    color:  #000;
}
.contact-content .input-items input::-webkit-input-placeholder{
    color:  #000;
}
.contact-content .input-items input::-moz-placeholder{
    color:  #000;
}
.contact-content .input-items input::-ms-placeholder{
    color:  #000;
}
.contact-content .input-items textarea{
    width: 300px;
    padding: 2px;
    height: 90px;
    border-radius: 2px;
    border: none;
}
#message .submit-btn{
    margin-top: 2rem;
    text-align: start;
}
#message .submit-btn button{
    padding: 1rem;
}

.main-footer{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


/*  Media Queries for Small Screen Laptop & Big Screen TabLet */
@media all and (max-width: 800px){
    .main-navbar .menu{
        clear: both;
        max-height: 0;
        padding: 0;
        background: #333;
        overflow: hidden;
        transition: max-height .2s ease-in-out;
        
    }
    .main-navbar .menu li{
        /* it can also be display block  */
        display: block;
    }
    
    .main-navbar .menu-icon{
        padding: 2rem 2.5rem;
        position: relative;
        float: right;
        cursor: pointer;
        margin-top: 2rem;
    }
    .main-navbar .menu-icon .nav-icon{
        display: block;
        width: 2rem;
        height: 2px;
        position: relative;
        background: #fff;
        transition: background .3s ease-out
    }

    .main-navbar .menu-icon .nav-icon::before,
    .main-navbar .menu-icon .nav-icon::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    transition: all .3s ease-out
    }

    .main-navbar .menu-icon .nav-icon::before{
        top: 5px;
    }
    .main-navbar .menu-icon .nav-icon::after{
        top: -5px;
    }
    .main-navbar .menu-btn:checked ~ .menu {
        max-height: 240px;
    }
    .main-navbar .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    .main-navbar .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
    }
    .main-navbar .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
    }
    .about-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "box-1"
        "box-2"
        "box-3 ";
    }
     
    .image-content{
        
        grid-template-columns: 1fr 1fr;
        
    }

    .contact-content .input-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 70%;
        margin: 3rem auto;
        
    }
    /* .contact-content h3{
       margin-top: 6rem;
    } */
    .contact-content .input-items #input{
        width: 100%;
        
    }
    .contact-content .input-items #message{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

    }
    .contact-content .input-items input{
        width: 100%;
    }
    .contact-content .input-items textarea{
        width: 100%;
    }
    .contact-content .input-items .submit-btn{
        align-self: center;
        margin-bottom: 2rem;
    }
    .contact-content .input-items .submit-btn button{
        padding: 1rem 3rem;
        width: 100px;
    }
    .contact-content .contact-text{
        max-width: 70%
    }

}

/*  Media Queries for Small Screen TabLet  */

@media screen and (max-width: 700px){

    .middle-content{
        grid-template-columns: 1fr;
    }

    .middle-content img{
        width: 100%;
    }
}

/*  Media Queries for Phones  */
@media screen and (max-width: 480px){
    .image-content{
        grid-template-columns: 1fr;
    }
    .showcase-text{
        font-size: 4rem;
    }
    .showcase p{
        font-size: 1.5rem;
    }
}